.content2{
    padding: 200px;
    text-align: center;
    font-size: x-large;
    background-color: #fca9ec;
    height: 129px;
}

@media (max-width:670px){ /*mobile*/
    
    .content2{
        width:660px;
    }

    
}

@media (max-width:1000px){
    
}